<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>  

<section class="verify-section container">
    <h2 class="text-center">Congratulations <%= user.email %></h1>
    <p class="text-justify text-center">You successfully verified your account, enjoy <strong><a href="/">streetfood.com</a></strong></p>
    <div class="text-center">
        <button class="btn btn-success align-center my-2" onClick="javascript:window.close('','_parent','');">Close</button>
    </div>
</section>


<%- include('../includes/end.ejs') %>