<%- include('includes/head.ejs') %>

</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container">
        <h1 class="error-header">Page Not Found! 404</h1>
    </div>


<%- include('includes/end.ejs') %>    