<%- include('includes/head.ejs') %>

</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container">
        <h1 class="error-header">500 Some error occured !</h1>
        <p>We will fix that , sorry for the inconvinience</p>
    </div>
    
<%- include('includes/end.ejs') %>    