*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.food-card {
    margin: 10px;
}

.food-card .lastBlock {
    margin-top: 10px;
    justify-content: space-between;
}


.food-card .food-image {
    margin-top: 12px;
    height: 150px;
}


.error-header {
    margin-top: 100px;
}

section.verify-section h2{
    margin-top: 100px;
}

section.verify-section p {
    font-size: 1rem;
    margin-top: 50px;
}

section.verify-section button {
    align-content: center;    
}


section.cart h2.cart-text {
    margin-top:100px;
}

section.cart .card-body{
    display: flex;
    justify-content: space-between;
}

section.cart .card-title {
    margin:auto 1rem;
}

section.cart .noOfItems {
    font-size: 1.2rem;
    font-weight: 500;
    margin: auto;
}

section.cart div.cart-item {
    margin-top: 20px;
}

section.cart .cart-item-image {
    width: 100px;
}

section.cart .card-text{
    margin: auto;
    float: left;
}

section.cart .cart-delete{
    margin: auto;
}