<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>  

<section class="container delivery">
    <h2>Select delivery address</h1>
    <hr class="hr" width="120px">

    <% if(user.addresses.length > 0){ %>

        <% user.addresses.forEach(address=>{ %>
            <div class="address-card">
                <h5 class="address-name"></h5>
                <h5 class="address-house"></h5>
                <h5 class="address-place"></h5>
                <h5 class="address-pincode"></h5>
                <h5 class="address-extra"></h5>
        
                <button class="btn btn-success">Deliver to this address</button>
            </div>
        <% }) %>
  
    <% }else{ %>
        <h1>No address add one</h1>
        
    <% } %>
</section>


<%- include('../includes/end.ejs') %>