<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>  
<section class="py-5 text-center container banner">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Streetfood</h1>
        <p class="lead text-muted">Hey do you wanna cheap food near you ,Search your favourite street foods here</p>
        <p class="search-box">
            <input type="text" class="form-control search" name="search">
            <a class="btn btn-primary " href="/">Search</a>  
        </p>
      </div>
    </div>
  </section>
<section class="foods">
    <h2 class="text-center">Most ordered Foods</h1>
    <hr class="mx-auto" width="100px">    
    
</section>


<%- include('../includes/end.ejs') %>